@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mona Sans";
  src:
    url("/fonts/MonaSans-Medium.woff2") format("woff2"),
    url("/fonts/MonaSans-Regular.woff2") format("woff2"),
    url("/fonts/MonaSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer {
  .text-primary {
    @apply text-neutral-400;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans";
  font-weight: 400;
}

.border-slide {
  position: relative;
}

.border-slide:hover::before {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 1px solid #facc15;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  animation: border-scale 0.25s ease-in-out forwards;
}

@keyframes border-scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.video-js .vjs-control-bar {
  background-color: #c6a078; /* Ganti dengan warna yang diinginkan */
}

.video-js .vjs-big-play-button {
  font-size: 3em; /* Ukuran tombol play */
}

.synopsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

/* card */
.card {
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #e50914;
  z-index: 50;
}

.G {
  display: grid;
}

table,
tr,
td {
  border: 1px solid lightslategray;
}

td {
  padding: 4px 8px;
  font-weight: 400;
}

tr {
  /* font-light w-[70%] px-2 flex items-center */
  background-color: #f1f5f9;
}

tr:nth-child(odd) {
  /* font-light w-[70%] px-2 flex items-center */
  background-color: #e2e8f0;
  font-weight: 500;
}

/* loader */
.Loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #e50914 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #e50914);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.mainLoader {
  width: 56px;
  height: 56px;
  display: grid;
  animation: spinner-plncf9 4s infinite;
}

.mainLoader::before,
.mainLoader::after {
  content: "";
  grid-area: 1/1;
  border: 9px solid;
  border-radius: 50%;
  border-color: #e50914 #e50914 #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 1s infinite linear;
}

.mainLoader::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}

#section-form {
  background-color: #676279;
}
