@tailwind base;
@tailwind components;
@tailwind utilities;

#section-form {
  background-image: url("/bg-form1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  #carousell {
    display: none;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

#Rekomend {
  font-family: "Noto Sans", sans-serif;
}

#sw {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-transition {
  transition: all 0.45s ease-in-out;
}

.form-backdrop {
  backdrop-filter: blur(4px);
}

.effect-btn:disabled {
  background-color: #5c1b1e;
  cursor: not-allowed;
}

.effect-btn {
  transition: background-color 0.3s, transform 0.1s;
  color: #fff;
  box-shadow: inset 5px;
  cursor: pointer;
}

.effect-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  transform: translateY(2px);
}

table,
tr,
td {
  border: 1px solid lightslategray;
}

td {
  padding: 4px 8px;
  font-weight: 400;
}

tr {
  /* font-light w-[70%] px-2 flex items-center */
  background-color: #f1f5f9;
}

tr:nth-child(odd) {
  /* font-light w-[70%] px-2 flex items-center */
  background-color: #e2e8f0;
  font-weight: 500;
}

/* loader */
.Loader {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #e50914 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #e50914);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

.mainLoader {
  width: 56px;
  height: 56px;
  display: grid;
  animation: spinner-plncf9 4s infinite;
}

.mainLoader::before,
.mainLoader::after {
  content: "";
  grid-area: 1/1;
  border: 9px solid;
  border-radius: 50%;
  border-color: #e50914 #e50914 #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 1s infinite linear;
}

.mainLoader::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 600px) {
  .swiper-button-next::after {
    display: none;
  }
  .swiper-button-prev::after {
    display: none;
  }
  #youtube-plyer {
    width: 300px;
    height: 200px;
  }
}

.swiper-button-next::after {
  background-color: #cbd5e1;
  border-radius: 5px;
  padding: 0.8rem;
}
.swiper-button-prev::after {
  background-color: #cbd5e1;
  border-radius: 5px;
  padding: 0.8rem;
}
