@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color: #facc15;
  interpolate-size: allow-keywords;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Mona Sans";
  src:
    url("/fonts/MonaSans-Medium.woff2") format("woff2"),
    url("/fonts/MonaSans-Regular.woff2") format("woff2"),
    url("/fonts/MonaSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@layer {
  .text-primary {
    @apply text-neutral-400;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans";
  font-weight: 400;
}

.border-slide {
  position: relative;
}

.border-slide:hover::before {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-bottom: 1px solid var(--border-color);
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  animation: border-scale 0.25s ease-in-out forwards;
}

::details-content {
  transition:
    all 0.5s ease,
    content-visibility 0.5s allow-discrete;
  height: 0;
  overflow: clip;
}

[open]::details-content {
  height: auto;
}

details[open] > summary > span {
  transform: rotate(180deg);
}

.contaiers-options-catalog {
  height: 1.5rem;
  overflow-y: hidden;
  transition: height 200ms ease;

  &:hover {
    height: max-content;
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-without-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes border-scale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.synopsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

/* card */
.card {
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #e50914;
  z-index: 50;
}

.G {
  display: grid;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
